.landing {
  text-align: center;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;


}
.muse-title {
  font-size: 120px;
}
.muse {
  text-align: center;
  color: grey;
}
.definition {
  text-align: center;
  color: grey;
}

body {
  background-image: url('/assets/images/album_covers/hummingbird.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
