.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  padding: 30px;
  text-align: center;
}

.main-page-link {
  padding: 10px;
}

.choose-muse-link {
  padding: 10px;
}

.button-large {
  font-size: 110%;
}

a {
  text-decoration: none;
}

footer nav a {
  text-decoration: none;
  color: gray;
}
